@page
@model AboutModel
@{
    ViewData["Title"] = "Sobre Mim";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
   <div class="row">
      <h2 class="text-center">Alison Marques - Software Developer & Web Developer</h2>
      <p  class="col" align="center">
         <img src="~/images/alison_Easy-Resize.com.jpg" width="50" />
      </p>
      <br />
      <h3 class="col">⚡️Mini Bio:</h3>
      <hr />
      <p class="text-justify">
         Software Developer & Web Developer.
         Trabalhando com diferentes tecnologias, frameworks e linguagens de programação, 
         como: C#, Asp.NET, Node.Js,TypeScript, RESTFul, API, React, React-Native HTML, CSS,  
         PostgreSQL, MongoDb, SQLite3, Metodologias Ágil e Scrum, TDD, DDD e entre outros. Atualmente atuo 
         como Desenvoldedor na Tron-Informática. 
           
      </p>
      <br />
      <div class="info">
         <h3 class="text-justify">💾 Informações Pessoais:</h3>
         <hr />
         <dl>
            <dt>Nome: Alison Marques</dt>
         </dl>
         <dl>
            <dt>Empresa: <a href="https://www.linkedin.com/in/alison-marques/">Alison-Marques</a></dt>
         </dl>
         <dl>
            <dt>Profissão: Software Developer</dt>
         </dl>
         <dl>
            <dt>GitHub: <a href="https://github.com/AlisonMarques/">AlisonMaques</a></dt>
         </dl>
         <dl>
            <dt>Localização: Goiás, Brasil</dt>
         </dl>
      </div>
      <br />

      <div class="texto-fianl">
         <h3>📋 Palavras Finais:</h3>
         <p class="text-justify">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Ipsa odit facilis dolore voluptatum eos molestias blanditiis, 
               temporibus nihil exercitationem, enim animi sint obcaecati. 
               Voluptatibus, ex harum ea deleniti quae minima?
         </p>
      </div>
   </div>
</div>