@page
@model ContactModel
@{
    ViewData["Title"] = "Contato - Alison Marques";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Não hesitem em entrar em contato comigo!</p>

<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="https://www.linkedin.com/in/alison-marques/">Linkedin</a>
        <a class="btn btn-dark" href="https://github.com/AlisonMarques">Github</a>
        <a class="btn btn-danger" href="https://www.instagram.com/alison_marquess/">Instagram</a>
    </div>
</div>