@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center"><span class="fas fa-sign-in-alt" aria-hidden="true"></span> Workshop - ASP.NET Core</h1>
        <h2 class="text-center">Alison Marques - Software Developer and Web Developer</h2>
        <h3 class="text-center">Developer at Tron-Informática</h3>
    </div>
    <hr class="m-y-md">
    <p>Me acompanhe nas redes!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/alison-marques/" role="button">Linkedin</a>
        <a class="btn btn-dark btn-lg" href="https://github.com/AlisonMarques" role="button">GitHub</a>
    </p>
   <script src="https://kit.fontawesome.com/007d8c139f.js" crossorigin="anonymous"></script>
</div>